NODE_ENV=development
PORT=3000

SESSION_SECRET=
ADMIN_USER=
ADMIN_PASS_HASH=

COOLIFY_URL=https://your-coolify-url
COOLIFY_TOKEN=your_coolify_api_token

COOLIFY_DB_HOST=localhost
COOLIFY_DB_PORT=
COOLIFY_DB_NAME=coolify
COOLIFY_DB_USER=coolify
COOLIFY_DB_PASS=YOUR_COOLIFY_DB_PASSWORD

SERVER_UUID=
PROJECT_UUID=
ENVIRONMENT_NAME=production
SERVER_IP=

BASE_DOMAIN=
GOLDEN_IMAGE=
