NODE_ENV=development
PORT=3000

SESSION_SECRET=change_this_to_random_long_string_at_least_32_chars

ADMIN_USER=hazim
ADMIN_PASS_HASH=

COOLIFY_URL=https://your-coolify-url
COOLIFY_TOKEN=your_coolify_api_token

COOLIFY_DB_HOST=localhost
COOLIFY_DB_PORT=5432
COOLIFY_DB_NAME=coolify
COOLIFY_DB_USER=coolify
COOLIFY_DB_PASS=YOUR_COOLIFY_DB_PASSWORD

SERVER_UUID=bcg8ow4kcsksoskwgoc8kkg8
PROJECT_UUID=rs084ow8cc8ccss8oc0ksw08
ENVIRONMENT_NAME=production
SERVER_IP=37.27.25.195

BASE_DOMAIN=hazimzaman.com
GOLDEN_IMAGE=ghcr.io/hazimzaman/golden-wp:latest
